<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MorFin_Auth" publicKeyToken="a93f5603e98e0c24" culture="neutral" />
        <codeBase version="1.0.0.6" href="file:///C:/Program Files/Mantra/MorFin/Driver/MorFinAuthTest/MorFin_Auth.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
